page-relacionados {
    align-content: center;
    text-align: center;
    .encabezado{
        width: 100%;
        border: 1 solid black;
    }
    .encabezado label{
        font-size: 150%;
        color: #009999;
        font-weight:bold;
    }
    .icono{
        font-size: 25px;
        color: #009999;
    }
    img{
        width: 60%;
    }
    #productoNombre{
        font-size: 50%;
        color:  black;
    }

    #etiqueta{
        padding: 0%;
        margin: 0%;
        border: 0%;
        font-weight:bold;
        font-size: 130%;
    }
}
